/* All the CSS is now here */


#radio {
  font-family: Arial;
}
#body {
  position: absolute;
  top: 50px;
  width: 200px;
  height: 100px;
  left: calc(50vw - 115px);
  margin-left: auto;margin-right: auto;
  border-radius: 15px;
  background-color: #d9d9d9;
  text-align: center;
  
}
#leftcircle {
position: absolute;
left: calc(50vw - 100px);
top: 88px;
background-color: #000000;
border: 3px solid white;
border-radius: 50%;
width: 40px;
height: 40px;

}
#rightcircle {
position: absolute;
left: calc(50vw + 30px);
top: 88px;
background-color: #000000;
border: 3px solid white;
border-radius: 50%;
width: 40px;
height: 40px;  

}
#station {
  width:40px;
  background-color: #000000;
  letter-spacing: -2.5px;
  padding: 5px;
  position: absolute;
  left: calc(50vw - 40px);
  top: 98px;
  text-align: center;
  color:#878787;
}
#antennae {
  width:75px;
  background-color: #ffffff;
  height: 5px;
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50vw - 37.5px);
  top: 30px;
}
main {
  background: rgb(2,0,36);
  background: linear-gradient(328deg, #020224 0%, #090979 40%, #006eff 100%); /* #006eff used to be #0039FF */
  margin: auto;
  max-width: 500px;
  width:100%;
  border-radius: 15px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}
#elements {
  margin: 10px;
  color: #ffffff;
}
body {
  font-family: sans-serif;
  background: rgb(11, 11, 11);
  color: white;
}
a {
  color: #ffffff;
  text-decoration:none;
  font-family: 'Courier New', Courier, monospace
}
input#searchbar {
  font-family: sans-serif;
  background: rgb(2,0,36);
  background:linear-gradient(328deg, #000000 0%, #232323 40%, #444444 100%);;
  margin: auto;
  max-width: 480px;
  width:90%;
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding:7.5px;
  color: #ffffff;
  text-decoration:none;
  transition: all 0.8s;
}
input#searchbar:hover {
  font-family: sans-serif;
  background: rgb(2,0,36);
  background:linear-gradient(328deg, #111111 0%, #333333 40%, #555555 100%);;
  margin: auto;
  max-width: 480px;
  width:90%;
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding:7.5px;
  color: #ffffff;
  text-decoration:none;
  transition: all .5s;
}
input#searchbar:focus {
  -webkit-box-shadow: 0px 0px 21px 10px rgba(255,255,255,0.15);
  -moz-box-shadow: 0px 0px 21px 10px rgba(255,255,255,0.15);
  box-shadow: 0px 0px 21px 10px rgba(255,255,255,0.15);
  transition: all .5s;
}
button {
  color: #082cdd
}
.spacer {
    height: 20px;
}
